<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">
	
	<!-- @Service 扫描 -->
	<context:component-scan base-package="com.wangwren.service"></context:component-scan>
	
	<!-- 发布dubbo服务 -->
	<!-- 提供方应用信息，用于计算依赖关系 -->
	<dubbo:application name="letao-manager" />
	
	<!-- 注册中心的地址，IP地址指定的是zookeeper的安装地址服务器 -->
	<dubbo:registry protocol="zookeeper" address="192.168.218.128:2181" />
	
	<!-- 使用dubbo直连的方式，即可以不用注册中心 -->
	<!-- <dubbo:registry address="N/A"/> -->
	
	<!-- 用dubbo协议在20880端口暴露服务，默认的dubbo端口 -->
	<dubbo:protocol name="dubbo" port="20880" />
	
	<!-- dubbo   主机  端口 
	<dubbo:protocol host="127.0.0.1" port="20880"/> -->
	
	<!-- 声明需要暴露的服务接口，timeout即连接等待的时间，毫秒，不指定即1秒，debug时不指定这个属性就会连接超时，这里指定五分钟 -->
	<dubbo:service interface="com.wangwren.service.ItemService" ref="itemServiceImpl" timeout="300000"/>
	<dubbo:service interface="com.wangwren.service.ItemCatService" ref="itemCatServiceImpl" timeout="300000"/>
</beans>